@model VidlyApp.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name Movie Details</h2>


<ul>

    <li>
        @Model.Genre.Name
    </li>
</ul>

